@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 222.2 84% 4.9%;

        --card: 210 40% 98%;
        --card-foreground: 222.2 47.4% 11.2%;

        --popover: 210 40% 96.1%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --accent: 214.3 31.8% 91.4%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --secondary: 212.7 26.8% 83.9;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 214.3 31.8% 91.4%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 47.4% 11.2%;
        --foreground: 210 40% 98%;

        --card: 217.2 32.6% 17.5%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 47.4% 11.2%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --accent: 215.3 25% 26.7%;
        --accent-foreground: 210 40% 98%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --muted: 215.3 25% 26.7%;
        --muted-foreground: 215 20.2% 65.1%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 215.3 25% 26.7%;
        --input: 215.3 25% 26.7%;
        --ring: 215.4 16.3% 46.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply relative bg-background font-sans text-foreground antialiased;
    }

    html {
        @apply scroll-smooth;
    }
}

a,
button {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
}

pre::-webkit-scrollbar {
    display: none;
}

.prose pre code {
    @apply m-2;
}

.prose pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

input[type="text"],
input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

code {
    @apply rounded bg-background;
}

img {
    @apply rounded-2xl shadow-md;
}

table {
    @apply block overflow-x-auto;
}

.data-footnote-backref {
    @apply font-mono;
}
